@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 100px 0;
    
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about, .skills, .projects, .contact, footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {

}

section .title::after {

}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .sticky {
    padding: 15px 0;
    background: #00EEEE;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #00EEEE;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

.navbar .menu li a:hover {
    color: #00EEEE;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    background: linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
    ), url("images/banner.jpg");
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 30px;
}

.home .home-content .text-1 {
    font-size: 28px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -4px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: #00EEEE;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #00EEEE;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #00EEEE;
}

.home .home-content a:hover {
    color: #00EEEE;
    background: none;
}

.about .about-content .left {
    width: 45%;
    color: #fff;
}

.about .about-content .left img {
    height: 500px;
    width: 500px;
    object-fit: contain;
    border-radius: 6px;
}

.about .about-content .right {
    width: 50%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about .about-content .right .text span {
    color: #00EEEE;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a:hover {
    color: #00EEEE;
    background: none;
}

.about .about-content .right .tab {
    margin-left: 15px;
}

.skills .title {

}

.skills .skills-content .column {
    width: 80px;
}

.skills .skills-content .left1 .text,
.skills .skills-content .right .text,
.skills .skills-content .center .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 13px;
}

.projects .title {

}

.projects .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
}

.projects .carousel .card:hover {
    background: #00EEEE;
    text-decoration: none;
}

.projects .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects .carousel .card:hover .box {
    transform: scale(1.10);
}

.projects .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.contact .title {

}

.contact .contact-content .column {
    width: 30px;
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact .contact-content .left {

}

.contact .contact-content .row {

}

.contact .contact-content .row .info {

}

.contact .contact-content .info .head {

}

.contact .contact-content .info .sub-title {

}

footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}

@media (max-width: 1300px) {

}

@media (max-width: 1104px) {

}

@media (max-width: 991px) {

}

@media (max-width: 947px) {

}

@media (max-width: 690px) {

}

@media (max-width: 500px) {

}